.about-content-wrapper
	.about-spylight About us
	.hiring 
		%div 
			%span{style: "font-weight: bold; text-transform: uppercase;"} We're Hiring!
			%br Introduce
			yourself at 
			%span{style: "font-style: italic"} 
				%a{href: "mailto:hiring@spylight.com"} hiring@spylight.com

	%br
	.promo-pic{style: "float: left"}= image_tag("EmmaBlake.png")
	.promo-pic{style: "float: right"}= image_tag("SpylightAd4.png")
	
	.about-content
		%p{style: "font-weight: bold"} What is Spylight?
		%p Spylight is a second screen technology that makes content shoppable. We provide a consumer-oriented mobile application and service that enables viewers to purchase goods and apparel they see on highly popular TV shows. 
		%br
		%p{style: "font-weight: bold"} Do you match exactly what actors are wearing?
		Yes, Spylight works with studios to identify the exact item (product and brand) that actors wear on set. For some items that cannot be exactly identified we provide similar look-alikes. We also provide cheaper alternatives to high-end products.
		%br
		%br
		%p{style: "font-weight: bold"} When do you reveal what products the characters are wearing?
		Spylight reveals the clothing from an episode as soon as the episode begins to air for the first time on television. For example, if a new episode of New Girl airs at 8pm (EST) on Tuesday, the clothes will be available at 8pm.
		%br
		%br

	.connect-with-spylight
		Connect with us:
		.social-links
			.social-link
				%a{href: "https://www.facebook.com/pages/Spylight/147130492137241?sk=timeline"}
					%i.fa.fa-facebook{style: "margin-right: 3px;"} 
					FACEBOOK
			.social-link
				%a{href: "http://www.pinterest.com/spylightmedia"} 
					%i.fa.fa-pinterest
					PINTEREST
			.social-link		
				%a{href: "http://www.twitter.com/spylight"}
					%i.fa.fa-twitter
					TWITTER
	.connect-with-spylight
		General Inquiries:
		%br
		%br
		%a{href: "mailto:support@spylight.com", style: "text-transform: none; text-decoration: underline"} support@spylight.com

	.connect-with-spylight
		Press Inquiries:
		%br
		%br
		%a{href: "mailto:press@spylight.com", style: "text-transform: none; text-decoration: underline"}
			press@spylight.com