.about-content-wrapper
	.about-spylight How can we help you?

	.connect-with-spylight
		Connect with us:
		%span.social-links
			.social-link
				%i.fa.fa-facebook{style: "margin-right: 3px;"} 
				FACEBOOK
			.social-link
				%a{href: "http://www.pinterest.com/spylightmedia"} 
					%i.fa.fa-pinterest
					PINTEREST
			.social-link		
				%a{href: "http://www.twitter.com/spylight"}
					%i.fa.fa-twitter
					TWITTER